.star {
    background-color: white;
    border-radius: 50%;
    height: 1px;
    left: -100vw;
    width: 1px;
    position: absolute;
    top: -100vh;
    // transition: all 1s cubic-bezier(0.67, 0, 0.43, 1);
    z-index: 2;
}